p {
    color: white;
    font-family: 'Roboto Mono', monospace;
    color: rgba(255, 255, 255, 0.6);
}

h1, h2, h3, h4, h5 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: white;
}

code {
    color: #5ff281;
}